{% extends 'blog/base.html' %}

{% block header %}
<div class="col-md-12 col-sm-12 p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{topic}}</h1>
        <p class="col-md-10 fs-5">{{message}}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" type="button" class="btn btn-dark btn-lg" type="button">Logout</a>
        {% else %}
            <a href="{% url 'register' %}" type="button" class="btn btn-success btn-lg" type="button">Register</a>
            <a href="{% url 'login' %}" type="button" class="btn btn-danger btn-lg" type="button">Login</a>
        {% endif %}    
    </div>
</div>
{% endblock header %}

{% block content %}
    {% for post in posts %}
        {% if forloop.counter|divisibleby:"2" %}
            <div class="row align-items-md-stretch">
                <div class="col-md-8 col-sm-8">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <p>{{ post.content }}</p>
                    <button class="btn btn-outline-light" type="button">Read more...</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{post.title}}</h2>
                    <p>By {{post.author}}</p>
                    <p>Published on {{post.date_posted | date:"F d, Y"}}.</p>
                    </div>
                </div>
            </div> 
            <br>  
        {% endif %}
        {% if not forloop.counter|divisibleby:"2" %}  
            <div class="row align-items-md-stretch">  
                <div class="col-md-4 col-sm-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{post.title}}</h2>
                    <p>By {{post.author}}</p>
                    <p>Published on {{post.date_posted | date:"F d, Y"}}.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <p>{{ post.content }}</p>
                    <button class="btn btn-outline-light" type="button">Read more...</button>
                    </div>
                </div>
            </div> 
            <br>    
        {% endif %} 
    {% endfor %}
{% endblock %}

{% block sidebar %}
<div class="card" style="max-width: 18rem;">
    <div class="card-header">
        Our Sidebar
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Contents:</li>
        <li class="list-group-item">
            <div class="card-header">
                Featured
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Latest posts</li>
                    <li class="list-group-item">Announcement</li>
                    <li class="list-group-item">Calender</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
{% endblock sidebar %}


