html,
body {
  height: 100%;
}

body {

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.btn-default

{

background-color: #17649A;

color:#FFF;

border-color: #2F3E48;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

background-color: #2F3E48;

color:#FFF;

border-color: #17649A;

}

.purple {
  color: purple;
}

.red {
  color: red;
}

.redtitle {
  color: red;
}

.padding-purple {
  background-color: purple;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 80%;
}

.inner-purple {
  background-color: purple;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}


.font1 {
  text-align: center;
  color: purple;
  font-size: 150%;
}

.font2 {
  text-align: center;
  color: red;
  font-size: 150%;
}


.padding-left{
  padding-left: 1%;
}

.padding-right{
  padding-right: 5%;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.padding{
  padding-top: 1%;
  padding-bottom: 1%;
}

.padding-left{
  padding-left: 1%;
}

.padding-right{
  padding-right: 7%;
}

.fifty {
  font-size: 100%;
}

.one-fifty {
  font-size: 150%;
}

.one-twenty {
  font-size: 120%;
}

.eighty {
  font-size: 80%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}







.space{
				padding-top: 10%;


}












.badge_diocese{
  text-align: center;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  font-weight: 200;
}

.badge_designation{
  text-align: center;
  color: #017171;
  font-family: 'Oswald', sans-serif;
  font-size: 120%;
  font-weight: 1200;


}




.badge_n{
  text-align: center;
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  font-weight: 700;
}

.badge_church{
  text-align: left;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  font-weight: 1500;
  padding-left: 5%;

}



.responsive {
  max-width: 100%;
  height: 160px;
}


.btn-default .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: #113F8C !important;
}










.badge_bg{
  background-size: 370px 270px !important;
  border-color: #a6a6a6 !important;
  border-style: solid !important;
  border-width: 10px !important;
  height: 280px !important;
  width: 380px !important;
}

.b{
  background-size: 370px 270px !important;
  border-color: #a6a6a6 !important;
  border-style: solid !important;
  border-width: 0px !important;
  height: 280px !important;
  width: 210px !important;
}



.relative {
  position: relative !important;
}

.badge_pic{
  position: absolute !important;
  bottom: 3px !important;
  right: 3px !important;
  background-color: #d9d9d9 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;

}


.badge_name{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 160px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 120% !important;
  font-weight: 400 !important;

}


.badge_name_small{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 160px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 100% !important;
  font-weight: 400 !important;

}

.badge_lastname{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 130px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 160% !important;
  font-weight: 400 !important;

}

.badge_lastname_small{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 140px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 120% !important;
  font-weight: 400 !important;

}

.badge_diocese{
  position:absolute !important;
  right: 10px !important;
  bottom: 95px !important;
  color: purple !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 140% !important;

}

.badge_diocese_small{
  position:absolute !important;
  right: 10px !important;
  bottom: 95px !important;
  color: purple !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 90% !important;

}


.badge_designation{
  position:absolute !important;
  right: 10px !important;
  bottom: 70px !important;
  color: #C00F00 !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 150% !important;


}


.badge_designation_small{
  position:absolute !important;
  right: 10px !important;
  bottom: 80px !important;
  color: #C00F00 !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 100% !important;


}


.badge_barcode{
  position:absolute !important;
  left: 10px !important;
  bottom: 30px !important;
}

.number{
  position:absolute !important;
  right: 15px !important;
  bottom: 12px !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 190% !important;
  font-weight: 400 !important;
  color: black !important;

}







@media print {

  .pageButton {
    display: none;
  }



  .badge_bg{
    background-size: 370px 270px !important;
    border-color: #a6a6a6 !important;
    border-style: solid !important;
    border-width: 10px !important;
    height: 280px !important;
    width: 380px !important;
  }

  .b{
    background-size: 370px 270px !important;
    border-color: #a6a6a6 !important;
    border-style: solid !important;
    border-width: 0px !important;
    height: 280px !important;
    width: 210px !important;
  }




.relative {
  position: relative !important;
}

.badge_pic{
  position: absolute !important;
  bottom: 3px !important;
  right: 3px !important;
  background-color: #d9d9d9 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;

}


.badge_name{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 160px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 120% !important;
  font-weight: 400 !important;

}


.badge_name_small{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 160px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 100% !important;
  font-weight: 400 !important;

}

.badge_lastname{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 130px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 160% !important;
  font-weight: 400 !important;

}

.badge_lastname_small{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  bottom: 140px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center !important;
  color: black !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 120% !important;
  font-weight: 400 !important;

}

.badge_diocese{
  position:absolute !important;
  right: 10px !important;
  bottom: 95px !important;
  color: purple !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 140% !important;

}

.badge_diocese_small{
  position:absolute !important;
  right: 10px !important;
  bottom: 95px !important;
  color: purple !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 90% !important;

}


.badge_designation{
  position:absolute !important;
  right: 10px !important;
  bottom: 70px !important;
  color: #C00F00 !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 150% !important;


}


.badge_designation_small{
  position:absolute !important;
  right: 10px !important;
  bottom: 80px !important;
  color: #C00F00 !important;
  font-family: 'Be Vietnam', sans-serif !important;
  font-size: 100% !important;


}


.badge_barcode{
  position:absolute !important;
  left: 10px !important;
  bottom: 30px !important;
}

.number{
  position:absolute !important;
  right: 15px !important;
  bottom: 12px !important;
  font-family: 'Anton', sans-serif !important;
  font-size: 190% !important;
  font-weight: 400 !important;
  color: black !important;

}







}























